.chat-message-user {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
  align-items: start;
}

.chat-message-bot {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
  align-items: start;

}

.chat-message-text {
  display: inline-block;
  max-width: 300px;
  padding: 15px 20px;
  margin: 0 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.chat-message-profile {
  width: 45px;
}
